manuals/production/WSDL/tokenWS.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://token.ws.tce.sc.gov.br/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TokenWSImplService" targetNamespace="http://token.ws.tce.sc.gov.br/">
  <wsdl:types>
<xs:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://token.ws.tce.sc.gov.br/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://token.ws.tce.sc.gov.br/">

			
  <xs:element name="cancelarTransferencia" type="tns:cancelarTransferencia"/>
			
  <xs:element name="cancelarTransferenciaResponse" type="tns:cancelarTransferenciaResponse"/>
			
  <xs:element name="finalizarTransferencia" type="tns:finalizarTransferencia"/>
			
  <xs:element name="finalizarTransferenciaResponse" type="tns:finalizarTransferenciaResponse"/>
			
  <xs:element name="iniciarTransferencia" type="tns:iniciarTransferencia"/>
			
  <xs:element name="iniciarTransferenciaResponse" type="tns:iniciarTransferenciaResponse"/>

			
  <xs:element name="obterSituacaoToken" type="tns:obterSituacaoToken"/>
			
  <xs:element name="obterSituacaoTokenResponse" type="tns:obterSituacaoTokenResponse"/>
			
  <xs:element name="obterToken" type="tns:obterToken"/>
			
  <xs:element name="obterTokenResponse" type="tns:obterTokenResponse"/>

			
  <xs:complexType name="iniciarTransferencia">
				
    <xs:sequence>
					
      <xs:element maxOccurs="1" minOccurs="1" name="chaveToken" nillable="false" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
  <xs:complexType name="iniciarTransferenciaResponse">
				
    <xs:sequence>
					
      <xs:element minOccurs="0" name="return" type="tns:responseTCEWS"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="cancelarTransferencia">
				
    <xs:sequence>
					
      <xs:element maxOccurs="1" minOccurs="1" name="chaveToken" nillable="false" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
  <xs:complexType name="cancelarTransferenciaResponse">
				
    <xs:sequence>
					
      <xs:element minOccurs="0" name="return" type="tns:responseTCEWS"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="finalizarTransferencia">
				
    <xs:sequence>
					
      <xs:element maxOccurs="1" minOccurs="1" name="chaveToken" nillable="false" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
  <xs:complexType name="finalizarTransferenciaResponse">
				
    <xs:sequence>
					
      <xs:element minOccurs="0" name="return" type="tns:responseTCEWS"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="obterToken">
				
    <xs:sequence>
					
      <xs:element maxOccurs="1" minOccurs="1" name="codigoUg" nillable="false" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
  <xs:complexType name="obterTokenResponse">
				
    <xs:sequence>
					
      <xs:element minOccurs="0" name="return" type="tns:responseTCEWS"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="responseTCEWS">
				
    <xs:sequence>
					
      <xs:element name="dados">
						
        <xs:complexType>
							
          <xs:sequence>
								
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
									
              <xs:complexType>
										
                <xs:sequence>
											
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
											
                  <xs:element minOccurs="0" name="value" type="xs:anyType"/>
										
                </xs:sequence>
									
              </xs:complexType>
								
            </xs:element>
							
          </xs:sequence>
						
        </xs:complexType>
					
      </xs:element>
					
      <xs:element minOccurs="0" name="mensagem" type="xs:string"/>
					
      <xs:element minOccurs="0" name="status" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>

			
  <xs:complexType name="obterSituacaoToken">
				
    <xs:sequence>
					
      <xs:element maxOccurs="1" minOccurs="1" name="chaveToken" nillable="false" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
  <xs:complexType name="obterSituacaoTokenResponse">
				
    <xs:sequence>
					
      <xs:element maxOccurs="1" minOccurs="1" name="return" nillable="false" type="tns:responseTCEWS"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
			
  <xs:element name="Exception" type="tns:Exception"/>
			
			
  <xs:complexType name="Exception">
				
    <xs:sequence>
					
      <xs:element minOccurs="0" name="message" type="xs:string"/>
				
    </xs:sequence>
			
  </xs:complexType>
			
		
</xs:schema>
  </wsdl:types>
  <wsdl:message name="obterSituacaoTokenResponse">
    <wsdl:part element="tns:obterSituacaoTokenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciarTransferencia">
    <wsdl:part element="tns:iniciarTransferencia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalizarTransferenciaResponse">
    <wsdl:part element="tns:finalizarTransferenciaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarTransferencia">
    <wsdl:part element="tns:cancelarTransferencia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="finalizarTransferencia">
    <wsdl:part element="tns:finalizarTransferencia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="iniciarTransferenciaResponse">
    <wsdl:part element="tns:iniciarTransferenciaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="cancelarTransferenciaResponse">
    <wsdl:part element="tns:cancelarTransferenciaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterToken">
    <wsdl:part element="tns:obterToken" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterTokenResponse">
    <wsdl:part element="tns:obterTokenResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obterSituacaoToken">
    <wsdl:part element="tns:obterSituacaoToken" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FilaAcesso">
    <wsdl:operation name="obterToken">
      <wsdl:input message="tns:obterToken" name="obterToken">
    </wsdl:input>
      <wsdl:output message="tns:obterTokenResponse" name="obterTokenResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obterSituacaoToken">
      <wsdl:input message="tns:obterSituacaoToken" name="obterSituacaoToken">
    </wsdl:input>
      <wsdl:output message="tns:obterSituacaoTokenResponse" name="obterSituacaoTokenResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="iniciarTransferencia">
      <wsdl:input message="tns:iniciarTransferencia" name="iniciarTransferencia">
    </wsdl:input>
      <wsdl:output message="tns:iniciarTransferenciaResponse" name="iniciarTransferenciaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarTransferencia">
      <wsdl:input message="tns:cancelarTransferencia" name="cancelarTransferencia">
    </wsdl:input>
      <wsdl:output message="tns:cancelarTransferenciaResponse" name="cancelarTransferenciaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finalizarTransferencia">
      <wsdl:input message="tns:finalizarTransferencia" name="finalizarTransferencia">
    </wsdl:input>
      <wsdl:output message="tns:finalizarTransferenciaResponse" name="finalizarTransferenciaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TokenWSImplServiceSoapBinding" type="tns:FilaAcesso">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obterToken">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obterToken">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obterTokenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obterSituacaoToken">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obterSituacaoToken">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obterSituacaoTokenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="iniciarTransferencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="iniciarTransferencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="iniciarTransferenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="cancelarTransferencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="cancelarTransferencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="cancelarTransferenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="finalizarTransferencia">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="finalizarTransferencia">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="finalizarTransferenciaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TokenWSImplService">
    <wsdl:port binding="tns:TokenWSImplServiceSoapBinding" name="TokenWSImplPort">
      <soap:address location="https://esfingews.tce.sc.gov.br/esfinge/services/tokenWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>